* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-resim {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
h1 {
  margin-top: 1em;
}
.tt {
  text-transform: uppercase;
}

.tt-c {
  text-transform: capitalize;
}

.fw-b {
  font-weight: bold;
}
.m-1 {
  margin: 1em;
}
.m-2 {
  margin: 2em;
}

.mr-2 {
  margin-right: 2em;
}

.ml-2 {
  margin-left: 2em;
}

.mt-03 {
  margin-top: 0.3em;
}
.m-a {
  margin: auto;
}
.ta-c {
  text-align: center;
}

.td {
  text-decoration: none;
}

.d-ib {
  display: inline-block;
}

.text-red {
  color: red;
}

.text-purple {
  color: purple;
}

.lst {
  list-style-type: square;
}

#vizyon::first-letter,
#misyon::first-letter {
  font-size: 200%;
}
