ul > li:hover {
  background-color: #e9ecef;
}

ul li.del {
  background: #ff6666 !important;
  color: #fff;
}

ul>li.checked {
  background: #276678;
  color: #fff;
  text-decoration: line-through;
}

